
#black{
    background-color: black;
}
#orange{
    color:#ff6e61;
    background-color:#ff6e61;
    width:  ;
}
#dark-blue{
    color:#6a5b94 ;
    background-color:#6a5b94;
}
#light-green{
    color:hsl(89 64.9% 55.5%);
    background-color:hsl(89 64.9% 55.5%);
    width:  ;
}
#pink{
    color:#f5ced7;
    background-color:#f5ced7 ;
    }
#light-blue{
    color:rgb(199, 192, 235);
    background-color:rgb(199, 192, 235) ;
    }
#brown{
    color:#965251;
    background-color:#965251 ;
}
#purple{
    color:#cf74bb;
    background-color:#cf74bb;
}
#green{
    color:#009a76;
    background-color:#009a76;
}
#red{
    color:#dc4123;
    background-color:#dc4123;
    }
#blue{
    color:#44b8ad;
    background-color: #44b8ad;
    }
#yellow{
    color:#efbf50;
    background-color:#efbf50 ;
    }
#Blue{
    color:#5b5ea5;
    background-color: #5b5ea5;
    
}